<main class="contact">
    <h1 class="mt-5 mb-2 text-center text-decoration-underline">Add a new product</h1>
    <form>
        <div class="container">
            <fieldset class="mb-3 text-left">
                <label for="name" class="form-label mb-0">Product</label><br>
                <input type="text" class="form-control" id="name" required
                    placeholder="Please type 'Product - Band/Soloist'">
            </fieldset>
            <fieldset class="mb-3 text-">
                <label for="image" class="form-label mb-0">Photo</label><br>
                <input type="text" class="form-control" id="image" required placeholder="Please enter an URL">
            </fieldset>
            <fieldset class="mb-3 text-">
                <label for="price" class="form-label mb-0">Price</label><br>
                <input type="number" class="form-control" min="1" id="price" required
                    placeholder="Please enter the price">
            </fieldset>
            <fieldset class="mb-3 text-">
                <label for="stock">Stock</label><br>
                <input type="number" class="form-control" class="form-label mb-0" min="1" id="stock" required
                    placeholder="Please type the product's stock">
            </fieldset>
            <div class="btn-group d-grid gap-2 col-6 mx-auto buttons" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm button" id="newProduct">Send</button>
                <button type="reset" class="btn btn-primary btn-sm button">Clear</button>
            </div>
        </div>
    </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/form.js"></script>