<main>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h4 class="pt-5 text-center text-decoration-underline">Reset password</h4>
            <fieldset class="mb-3 text-left">
                <label for="password" class="form-label mb-0">Password</label><br>
                <input type="password" class="form-control" id="password" required
                    placeholder="Please type your NEW password">
            </fieldset>
            <div class="btn-group gap-2 col-4 mx-auto buttons align-middle" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm button" id="newPassword">Submit</button>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/recovery.js"></script>
