<main class="contact">
    <h1 class="mt-5 mb-2 text-center text-decoration-underline">Register</h1>
    <form class="">
        <div class="container">
            <fieldset class="mb-3 text-left">
                <label for="username" class="form-label mb-0">Username</label><br>
                <input type="text" class="form-control" id="username" required placeholder="Please type your name">
            </fieldset>
            <fieldset class="mb-3 text-left">
                <label for="email" class="form-label mb-0">Email</label><br>
                <input type="email" class="form-control" id="email" required placeholder="Please type your email">
            </fieldset>
            <fieldset class="mb-3 text-left">
                <label for="password" class="form-label mb-0">Password</label><br>
                <input type="password" class="form-control" id="password" required
                    placeholder="Please type your password">
            </fieldset>
            <fieldset class="mb-3 text-left">
                <label for="photo" class="form-label mb-0">Photo</label><br>
                <input type="text" class="form-control" id="photo" required placeholder="Please enter an URL">
            </fieldset>
            <div class="btn-group d-grid gap-2 col-6 mx-auto buttons" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary btn-sm button" id="newUser">Send</button>
                <button type="reset" class="btn btn-primary btn-sm button">Clear</button>
            </div>
        </div>
    </form>
</main>
<script src="/scripts/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
